
body { background-color:#DDDDDD; }

#apptitle { text-align:left; }

.poststitle { font-size:25pt; }

.posttitle { font-size:12pt; margin-top:5px; }

.posttext { font-size:10pt; cursor:pointer; }

.postauthor { font-size:8pt; color:#555555; }

.feedtitle { cursor:pointer; }

.leftpane { position:fixed; }

.leftpane { float:left; width:30%; }

#posts { float:right; width:70%; }

.read { color:grey; }

.unread { color:black; }
a.unread { color:blue; }

.zerounreadcount, .nonzerounreadcount { font-size:10pt; }
.nonzerounreadcount { color:blue; }
.zerounreadcount { color:grey; }
.feedcaughtup { color:grey; }
.feednotcaughtup { color:black; }

.activeFeed { font-weight:bold; }
